$black-1: #1a1818;
$black-2: #5d5d5a;
$black-3: #bdbdbd;

$aqua-1: #43dde6;
$aqua-2: #00fff0;
$aqua-3: #74f9ff;

$green-1: #3b5441;
$green-2: #0b8457;
$green-3: #83e85a;

$blue-1: #3d6cb9;
$blue-2: #00d1ff;
$blue-3: #00fff0;

$pink-1: #ff1f5a;
$pink-2: #fc5185;
$pink-3: #fc85ae;

$yellow-1: #ffd615;
$yellow-2: #f9ff21;
$yellow-3: #feff89;

$silver-1: #f5f5f5;
$silver-2: #e2f3f5;
$silver-3: #f0f0f0;

$brown-1: #582233;
$brown-2: #713045;
$brown-3: #c94e4e;
